{% extends '::base.html.twig' %}

{% block bodysliders %}
 <div id="slider_wrapper">
			<div class="owl-slider-wrapper center-capture">
				<div id="owl-slider" class="owl-carousel owl-theme">
					 
					<div class="item">
						<img class="lazyOwl" data-src="{{ asset('assets/front/images/sliders/owlSlider-01.jpg')}}" alt="Image">
						<div class="owl-capture">
							<p class="owl-price">Starting From $190 only</p>
							<h2><a href="#" class="right-capture">Exotic Paradise Relax</a></h2>
							<p>Phuket, Thailand</p>
						</div>
					</div>
					<div class="item">
						<img class="lazyOwl" data-src="{{ asset('assets/front/images/sliders/owlSlider-02.jpg')}}" alt="Image">
						<div class="owl-capture">
							<p class="owl-price">Starting From $250 only</p>
							<h2><a href="#" class="right-capture">Explore Romantic City</a></h2>
							<p>Venice, Italy</p>
						</div>
					</div>
					<div class="item">
						<img class="lazyOwl" data-src="{{ asset('assets/front/images/sliders/owlSlider-03.jpg')}}" alt="Image">
						<div class="owl-capture">
							<p class="owl-price">Starting From $370 only</p>
							<h2><a href="#" class="right-capture">Enjoy Your Modern Life</a></h2>
							<p>Paris, France</p>
						</div>
					</div>
					<div class="item">
						<img class="lazyOwl" data-src="{{ asset('assets/front/images/sliders/owlSlider-04.jpg')}}" alt="Image">
						<div class="owl-capture">
							<p class="owl-price"> {% for a in entities %}{{ a.etat }} {% endfor %}</p>
							<h2><a href="#" class="right-capture">Your Honeymoon Day</a></h2>
							<p>Santorini, Greece</p>
						</div>
					</div>
				</div>
				<div class="owlSliderNavigation">
					<a class="owlSlider-prev"><i class="arrow_carrot-left_alt2"></i></a>
					<a class="owlSlider-next"><i class="arrow_carrot-right_alt2"></i></a>
				</div>
			</div>
		</div><!-- end slider_wrapper -->
		
		<div id="content_wrapper">
			<div class="container">
				
				<div class="travel-search">
					<div class="travel-search-inner">
						<ul class="tabs searchTab">
							<li><a href="#hotelsSearch" class="active"><span class="hotel mi"></span>Hotels</a></li>
							<li><a href="#flightsSearch"><span class="flight mi"></span>Flights</a></li>
							<li><a href="#vacationsSearch"><span class="vacation mi"></span>Vacations</a></li>
							<li><a href="#carsSearch"><span class="car mi"></span>Cars</a></li>
							<li><a href="#cruisesSearch"><span class="cruise mi"></span>Cruises</a></li>
						</ul><!-- tabs -->
						
						<ul class="tabs-content">
							<li id="hotelsSearch" class="active">
								<form role="form" class="row">
									<div class="col-xs-12 col-sm-4 col-md-4">
										<div class="form-group">
											<label for="hotelLocation">Where to Stay?</label>
											<input type="text" class="form-control" id="hotelLocation" placeholder="Thailand">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="hotel-check-in">Check-in</label>
											<input type="text" class="form-control date" id="hotel-check-in" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="hotel-check-out">Check-out</label>
											<input type="text" class="form-control date" id="hotel-check-out" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="hotelAdult">Adult</label>
											<select class="form-control mySelectBoxClass" id="hotelAdult">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="HotelChild">Child</label>
											<select class="form-control mySelectBoxClass" id="HotelChild">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="clear"></div>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
									</div>
								</form>
							</li>
							<li id="flightsSearch">
								<form role="form" class="row">
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group">
											<label for="flightFrom">From</label>
											<input type="text" class="form-control" id="flightFrom" placeholder="Bangkok">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group">
											<label for="flightTo">To</label>
											<input type="text" class="form-control" id="flightTo" placeholder="Hong Kong">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="flightCheckIn">Check-in</label>
											<input type="text" class="form-control date" id="flightCheckIn" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="flightCheckOut">Check-out</label>
											<input type="text" class="form-control date" id="flightCheckOut" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-1">
										<div class="form-group">
											<label for="flightAdult">Adult</label>
											<select class="form-control mySelectBoxClass" id="flightAdult">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-1">
										<div class="form-group">
											<label for="flightChild">Child</label>
											<select class="form-control mySelectBoxClass" id="flightChild">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2">
										<div class="clear"></div>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
									</div>
								</form>
							</li>
							<li id="vacationsSearch">
								<form role="form" class="row">
									<div class="col-xs-12 col-sm-4 col-md-4">
										<div class="form-group">
											<label for="vacationLocation">Where to Stay?</label>
											<input type="text" class="form-control" id="vacationLocation" placeholder="Thailand">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="vacation-check-in">Check-in</label>
											<input type="text" class="form-control date" id="vacation-check-in" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="vacation-check-out">Check-out</label>
											<input type="text" class="form-control date" id="vacation-check-out" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="vacationAdult">Adult</label>
											<select class="form-control mySelectBoxClass" id="vacationAdult">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="vacationChild">Child</label>
											<select class="form-control mySelectBoxClass" id="vacationChild">
												<option>0</option>
												<option selected>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="clear"></div>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
									</div>
								</form>
							</li>
							<li id="carsSearch">
								<form role="form" class="row">
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="carFrom">From</label>
											<input type="text" class="form-control" id="carFrom" placeholder="Bangkok">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-1">
										<div class="form-group">
											<label for="carTo">To</label>
											<input type="text" class="form-control" id="carTo" placeholder="Pattaya">
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="carPickUp">Pick Up</label>
											<input type="text" class="form-control date" id="carPickUp" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="pickUpTime">Hour</label>
											<select class="form-control mySelectBoxClass" id="pickUpTime">
												<option>12:00 AM</option>
												<option>12:30 AM</option>
												<option>01:00 AM</option>
												<option>01:30 AM</option>
												<option>02:00 AM</option>
												<option>02:30 AM</option>
												<option>03:00 AM</option>
												<option>03:30 AM</option>
												<option>04:00 AM</option>
												<option>04:30 AM</option>
												<option>05:00 AM</option>
												<option>05:30 AM</option>
												<option>06:00 AM</option>
												<option>06:30 AM</option>
												<option>07:00 AM</option>
												<option>07:30 AM</option>
												<option>08:00 AM</option>
												<option>08:30 AM</option>
												<option>09:00 AM</option>
												<option>09:30 AM</option>
												<option>10:00 AM</option>
												<option selected>10:30 AM</option>
												<option>11:00 AM</option>
												<option>11:30 AM</option>
												<option>12:00 PM</option>
												<option>12:30 PM</option>								  
												<option>01:00 PM</option>
												<option>01:30 PM</option>
												<option>02:00 PM</option>
												<option>02:30 PM</option>
												<option>03:00 PM</option>
												<option>03:30 PM</option>
												<option>04:00 PM</option>
												<option>04:30 PM</option>
												<option>05:00 PM</option>
												<option>05:30 PM</option>
												<option>06:00 PM</option>
												<option>06:30 PM</option>
												<option>07:00 PM</option>
												<option>07:30 PM</option>
												<option>08:00 PM</option>
												<option>08:30 PM</option>
												<option>09:00 PM</option>
												<option>09:30 PM</option>
												<option>10:00 PM</option>
												<option>10:30 PM</option>
												<option>11:00 PM</option>
												<option>11:30 PM</option>		
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="carDropOff">Drop Off</label>
											<input type="text" class="form-control date" id="carDropOff" placeholder="dd/dm/yy">
											<i class="fa fa-calendar"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-2">
										<div class="form-group datepicker-wrapper">
											<label for="dropOffTime">Hour</label>
											<select class="form-control mySelectBoxClass" id="dropOffTime">
												<option>12:00 AM</option>
												<option>12:30 AM</option>
												<option>01:00 AM</option>
												<option>01:30 AM</option>
												<option>02:00 AM</option>
												<option>02:30 AM</option>
												<option>03:00 AM</option>
												<option>03:30 AM</option>
												<option>04:00 AM</option>
												<option>04:30 AM</option>
												<option>05:00 AM</option>
												<option>05:30 AM</option>
												<option>06:00 AM</option>
												<option>06:30 AM</option>
												<option>07:00 AM</option>
												<option>07:30 AM</option>
												<option>08:00 AM</option>
												<option>08:30 AM</option>
												<option>09:00 AM</option>
												<option>09:30 AM</option>
												<option>10:00 AM</option>
												<option selected>10:30 AM</option>
												<option>11:00 AM</option>
												<option>11:30 AM</option>
												<option>12:00 PM</option>
												<option>12:30 PM</option>								  
												<option>01:00 PM</option>
												<option>01:30 PM</option>
												<option>02:00 PM</option>
												<option>02:30 PM</option>
												<option>03:00 PM</option>
												<option>03:30 PM</option>
												<option>04:00 PM</option>
												<option>04:30 PM</option>
												<option>05:00 PM</option>
												<option>05:30 PM</option>
												<option>06:00 PM</option>
												<option>06:30 PM</option>
												<option>07:00 PM</option>
												<option>07:30 PM</option>
												<option>08:00 PM</option>
												<option>08:30 PM</option>
												<option>09:00 PM</option>
												<option>09:30 PM</option>
												<option>10:00 PM</option>
												<option>10:30 PM</option>
												<option>11:00 PM</option>
												<option>11:30 PM</option>	
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-2 col-md-2">
										<div class="clear"></div>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
									</div>
								</form>
							</li>
							<li id="cruisesSearch">
								<form role="form" class="row">
									<div class="col-xs-12 col-sm-4 col-md-3">
										<div class="form-group">
											<label for="cruisesDestinatiom">Destination</label>
											<select class="form-control mySelectBoxClass" id="cruisesDestinatiom">
												<option selected>Show all</option>
												<optgroup label="Most Popular">
													<option>Caribbean</option>
													<option>Bahamas</option>
													<option>Mexico</option>
													<option>Alaska</option>
													<option>Europe</option>
													<option>Bermuda</option>
													<option>Hawaii</option>
												</optgroup>
												<optgroup label="Other Destinations">
													<option>Africa</option>
													<option>Arctic/Antartctic</option>
													<option>Asia</option>
													<option>Oceania</option>
													<option>Central America</option>
													<option>Cruise to Nowhere</option>
													<option>Galapagos</option>
													<option>Greenland/Iceland</option>
													<option>Middle East</option>
													<option>Pacific Coastal</option>
													<option>Panama Canal</option>
													<option>South Africa</option>
													<option>South Pacific</option>
													<option>Tahiti</option>
													<option>Transatlantic</option>
													<option>World Cruises</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-3">
										<div class="form-group">
											<label for="cruisesWhen">When</label>
											<select class="form-control mySelectBoxClass" id="cruisesWhen">
												<option selected>Show all</option>
												<option>October 2013</option>
												<option>November 2013</option>
												<option>December 2013</option>
												<option>January 2014</option>
												<option>February 2014</option>
												<option>March 2014</option>
												<option>April 2014</option>
												<option>May 2014</option>
												<option>June 2014</option>
												<option>July 2014</option>
												<option>August 2014</option>
												<option>September 2014</option>
												<option>October 2014</option>
												<option>November 2014</option>
												<option>December 2014</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-6">
										<div class="clear"></div>
										<button type="submit" class="btn btn-primary btn-block">Search</button>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="clear"></div>
				
				<div class="row clearfix pv-30 mt-20">
					<div class="col-xs-12 col-sm-12 col-md-12 product-3">
						<h3 class="section-title mb-30">Best Offers</h3>
						<div class="hot-deal-wrapper">
							<div class="hotDeal1Navigation">
								<a class="hotDeal1-prev"><i class="icon icon-left-open-big"></i></a>
								<a class="hotDeal1-next"><i class="icon icon-right-open-big"></i></a>
							</div>
 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="col-xs-12 col-sm-12 col-md-12 mt-30">
						<div class="gr-style"></div>
						<h3 class="section-title mv-30">Top Destinations</h3>
					</div>
					
				 
				</div>
			</div>
		</div><!-- end content_wrapper -->
           {% endblock %}