{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PrixPayement list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prixpayementtotal</th>
                <th>Flag_valid</th>
                <th>Flag_payement</th>
                <th>Qte</th>
                <th>Coupon</th>
                <th>Modepayement</th>
                <th>Datepayement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prixpayement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.prixPayementTotal }}</td>
                <td>{{ entity.flagvalid }}</td>
                <td>{{ entity.flagpayement }}</td>
                <td>{{ entity.qte }}</td>
                <td>{{ entity.coupon }}</td>
                <td>{{ entity.modePayement }}</td>
                <td>{{ entity.datePayement }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('prixpayement_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('prixpayement_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('prixpayement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
